<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <title>Media</title>
</head>
<body>

<header>
  <div class="main-container">
    <a routerLink="/" class="logo"><img src="assets/images/newLogo2.svg" ></a>
    <span class="text-logo">pentru oameni liberi</span>
      <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="https://t.me/s/tv8md" target="_blank"><i class="fa fa-telegram fa-lg" aria-hidden="true"></i></a></li>
          <li class="nav-item"><a href="https://twitter.com/TV8_MD" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
          <li class="nav-item"><a href="https://www.youtube.com/channel/UCREEwAZUeexzfEW8lh8dmbA" target="_blank fa-lg"><i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i></a></li>
          <li class="nav-item"><a href="https://www.facebook.com/tv8moldova/" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
          <li class="nav-item"><a href="https://www.facebook.com/tv8moldova/" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </nav>
  </div>
  
  <div class="nav">
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    <input type="checkbox" id="nav-check">
    <div class="nav-links">
      <a  href="https://tv8.md/category/coronavirus/">coronavirus</a>
      <a href="https://tv8.md/live/">live</a>
      <a href="https://tv8.md/category/diaspora/">diaspora</a>
      <a href="https://tv8.md/category/investigatii/">investigatii</a>
      <a href="https://tv8.md/category/externe/">externe</a>
      <a href="https://tv8.md/category/timp-liber/">timp liber</a>
      <a href="https://tv8.md/category/camerawoman/">special</a>
      <a href="https://tv8.md/category/cutia-neagra/">podcast</a>
      <a href="https://campanii.tv8.md/feed">companii</a>
      <a href="https://tv8.md/category/auto/">auto</a>
    </div>
  </div>
</header>
</body>
</html>

<router-outlet></router-outlet>

